---
import Layout from "../layouts/Layout.astro"
---

<Layout title="Home">
  <main class="grid place-content-center h-screen">
    <h1 class="font-bold text-5xl">Welcome</h1>
  </main>
</Layout>

<script>
  import p5 from "p5"

  const sketch = (p: p5) => {
    p.setup = () => {
      let canvas = p.createCanvas(p.windowWidth, p.windowHeight)
      canvas.position(0, 0) // Canvas'ı sol üst köşeye sabitler
      canvas.style("z-index", "-1") // Canvas'ı arkada tutar
      canvas.style("position", "fixed") // Canvas tam ekran ve sabit olacak

      p.background(200) // Gri arka plan
    }

    p.draw = () => {
      p.clear() // Şeffaf arka plan
      p.fill(255, 0, 0)
      p.ellipse(p.mouseX, p.mouseY, 80, 80) // Fareyi takip eden kırmızı daire
    }

    p.windowResized = () => {
      p.resizeCanvas(p.windowWidth, p.windowHeight)
    }
  }

  new p5(sketch)
</script>
