---
import Layout from "../layouts/Layout.astro"
---

<Layout title="Home">
  <main class="grid place-content-center h-screen">
    <h1 class="font-bold text-5xl">Welcome</h1>
  </main>
</Layout>

<script>
  import p5 from "p5"
  

  const sketch = (p: p5) => {
    p.setup = () => {
      let canvas = p.createCanvas(p.windowWidth, p.windowHeight)
      canvas.position(0, 0)
      canvas.style("z-index", "-1")
      canvas.style("position", "fixed")
    }

    p.draw = () => {
      p.clear()
      p.fill(0, 100, 100)
      p.ellipse(p.mouseX, p.mouseY, 80, 80)
    }

    p.windowResized = () => {
      p.resizeCanvas(p.windowWidth, p.windowHeight)
    }
  }

  new p5(sketch)
</script>
