---
import Layout from "../layouts/Layout.astro"
---

<Layout title="Projects">
  <main class="flex flex-col flex-grow">
    <h1 class="font-bold text-5xl self-center text-center">Projects</h1>
    <p>There will be some projects here...</p>
  </main>
</Layout>

