---
import Layout from "../layouts/Layout.astro"
---
<Layout title="Wolf">
  <main class="flex flex-col flex-grow items-center">
    <h1 class="font-bold text-5xl self-center text-center">Wolf Settings</h1>
    <div class="flex gap-2">
        <p>Wolf is <span class="font-bold underline" id="wolfStatus">Active</span></p>
        <button id="toggleWolfButton">Toggle Wolf</button>
    </div>
  </main>
</Layout>


<script>
    import { createLocalStorageObserver } from "../utils/storageObserver"
    const wolfStatusObserver = createLocalStorageObserver<boolean>("isWolfActive")

    const wolfStatus = document.getElementById("wolfStatus") as HTMLSpanElement
    const toggleWolfButton = document.getElementById("toggleWolfButton") as HTMLButtonElement

    wolfStatusObserver.subscribe((value) => {
        wolfStatus.textContent = value ? "Active" : "Inactive"
        // change color of wolfStatus span
        wolfStatus.style.color = value ? "green" : "yellow"
    })

    toggleWolfButton.addEventListener("click", () => {
        wolfStatusObserver.set(!wolfStatusObserver.get())
    })

</script>