---
---

<footer class="flex justify-center text-center mb-2 gap-4">
  <a class="text-secondary hover:underline" href="/">Home</a>
  <a href="https://github.com/brkunver" class="text-secondary hover:underline" target="_blank" rel="noopener noreferrer">Github</a>
  <a href="/projects" class="text-secondary hover:underline">Projects</a>
  <a href="/wolf" class="text-secondary hover:underline">Wolf?</a>
</footer>
