---
---

<footer class="flex justify-center text-center mb-2 gap-4">
  <a target="_blank" rel="noopener noreferrer" href="https://github.com/brkunver" class="text-gray-700 underline hover:text-gray-900">Burakhan Unver - Github</a>
  <a href="/projects" class="text-gray-700 underline hover:text-gray-900">Projects</a>
</footer>
