---
import Card from "./card.astro"
import LlmToolboxImage from "../images/project/llm-toolbox.png"

---


<section class="self-center grid grid-cols-1 md:grid-cols-2 gap-4 p-4 m-4">
  <Card 
    title="LLM Toolbox" 
    type="Browser Extension" 
    description="LLM Toolbox is a browser extension that allows you to use LLMs in your browser." 
    image={LlmToolboxImage} 
    alt="LLM Toolbox"/>
  <Card 
    title="LLM Toolbox" 
    type="Browser Extension" 
    description="LLM Toolbox is a browser extension that allows you to use LLMs in your browser." 
    alt="LLM Toolbox"/>
</section>